%header
  = render('_nav_boxes')
  #contact
    .words
      .name
        %a{ :href => "/"}
          thomas levine
      .e-post#e-post
        %span
          occurrence at this domain
      .phone
        607 699 1866
      .social
        %ul.nobullet
          %a{ :href => "http://facebook.com/perluette"}
            %li
              fb
          %a{ :href => "http://twitter.com/thomaslevine"}
            %li
              tw
          %a{ :href => "http://www.linkedin.com/profile/view?id=13142929"}
            %li
              li
          %a{ :href => "http://stackexchange.com/users/176493"}
            %li
              se
          %a{ :href => "https://plus.google.com/112237825767532686869"}
            %li
              g+
          %a{ :href => "https://joindiaspora.com/u/tlevine"}
            %li
              d* 
    .logo
      %a{ :href => "/" }
        %img{ :src => "/img/pink_hat_icon-200.png", :alt => "A photo of Tom" }

#main{ :role => 'main' }
  #topics.clearfix
    #repositories.topic
      %h2 repositories
      %ul.nobullet
        %li
          %a{ :href => "https://scraperwiki.com/profiles/tlevine"} scraperwiki
        %li
          %a{ :href => "https://github.com/tlevine"} github
        %li
          %a{ :href => "https://bitbucket.org/tlevine"} bitbucket
        %li
          %a{ :href => "https://gitorious.org/tlevine"} gitorious

    #scraping.topic
      %h2 data
      %ul
        %li
          %a{ :href => "http://blog.scraperwiki.com/2011/11/25/mapping-tahrirsupplies/"} tahrir supplies
        %li
          %a{ :href => "http://bettercoa.ch"} bettercoa.ch
        %li
          %a microfinance
        %li
          %a wetlands

    #libraries.topic
      %h2 libraries
      %ul.nobullet
        %li
          %a{ :href => "http://dumptruck.io/"} dumptruck
        %li
          %a{ :href => "https://github.com/tlevine/scraperwiki_offline"} scraperwiki
        %li
          %a{ :href => "http://pap.io/ntp.js.html"} ntp.js
        %li
          %a{ :href => "https://github.com/tlevine/dicti"} dicti
 
    #ergonomics.topic
      %h2
        %a{ :href => "http://chainsaw.iriscouch.com/blog/_design/sofa/_list/post/post-page?startkey=%5B%22Definitions-of-ergonomics%22%5D", :title => "Definition of &quot;ergonomics&quot;"} ergonomics
      %ul.nobullet
        %li
          %a{ :href => "http://chainsaw.iriscouch.com/blog/_design/sofa/_list/post/post-page?startkey=%5B%22Ergonomics-research-interests%22%5D"} research
        %li
          %a{ :href => "http://chainsaw.iriscouch.com/blog/_design/sofa/_list/post/post-page?startkey=%5B%22Ergonomics-consulting%22%5D"} tips
        %li
          %a{ :href => "http://smug.thomaslevine.com/Installations/Desk-Height-Slides/16614577_BsSt38#!i=1234422708&k=MppdU"} desk height
        -#%li
        -#  %a{ :href => ""} toilets
 
 
    #letterpress.topic
      %h2 letterpress
      %ul.nobullet
        %li
          %a{ :href => "http://smug.thomaslevine.com/Letterpress/Large-media/Nude-Jello-Wrestling/15368415_RnjWVr#!i=1130468970&k=a8288&lb=1&s=A"} wrestling
        %li
          %a{ :href => "http://cornell.freeculture.org/2009/08/30/a-new-semester-meeting-thursday-september-3/"} free culture
        -#%li
          -#%a{ :href => "http://smug.thomaslevine.com/Letterpress/Small-media/Orpheus-Myth/16330167_v962vW#!i=1208776292&k=n928N&lb=1&s=A"}
            -#complicity
        %li
          %a{ :href => "http://smug.thomaslevine.com/Letterpress/Small-media/Risley-40th-anniversary/14742719_WnJwH6#!i=1098630977&k=yq9yN&lb=1&s=A"} tea party
    #installations.topic
      %h2 installations
      %ul.nobullet
        %li
          %a{ :href => "http://smug.thomaslevine.com/Installations/pbdq/13233432_pnjHDC#!i=1317336922&k=GjzWXK6&lb=1&s=A"} pb dq
        %li
          %a{ :href => "http://smug.thomaslevine.com/Installations/Gullible-on-the-ceiling/12815982_8pTftB#!i=924144438&k=PwiGz&lb=1&s=A"} gullible
        %li
          %a{ :href => "http://smug.thomaslevine.com/Installations/Crosswalk/14816734_p5fTK9#!i=1169127198&k=vtgWk"} jaywalking
        %li
          %a{ :href => "http://smug.thomaslevine.com/Installations/Masquerave-2010/14225818_83md3v#!i=1077318594&k=u5YzK"} fire safety
    #doodles.topic
      %h2 doodles
      %ul.nobullet
        %li
          %a{ :href => "http://www.youtube.com/watch?v=rLZDvXPIDa0"} christmas
        %li
          %a{ :href => "http://smug.thomaslevine.com/Typography/Pizza-Boxes"} pizza boxes
        %li
          %a{ :href => "http://smug.thomaslevine.com/Typography/Risquirer/risquirer-20100504/12846614_ZbL7xv#!i=932454990&k=r7xgo&lb=1&s=A"} risquirer
        %li
          %a{ :href => "http://smug.thomaslevine.com/Typography/Doodles"} more
 
    #trolls.topic
      = render('_topic_box', :topic => 'trolls', :links => [['definition', ''], ['jello wrestling', ''], ['drag parties', '']])

    #things.topic
      = render('_topic_box', :topic => 'things', :links => [['stenotype', ''], ['emg', '']])

    #etc.topic
      %h2 &amp;c.
      %ul.nobullet
        -#%li
          -#%a{ :href => "/!/collaborate.md"} collaborate
        %li
          %a{ :href => "https://www.google.com/search?tbm=isch&q=bubble+battle+nyc+hat"} bubbles
        %li
          %a{ :href => "http://pinterest.com/perluette/earthmoving-equipment/"} earthmoving
        %li
          %a{ :href => "/secrets"} secrets
