---
main_class: scarsdale
---
%header.title-card
  %h1
    = link_to(items_with_tag('scarsdale')[0][:title], items_with_tag('scarsdale')[0].path)

%article
  = items_with_tag('scarsdale')[0].compiled_content

- items_with_tag('scarsdale').each do |item|
  .link
    = render('_blog_post_card', :item => item)
