%header
  %nav.nav-boxes
    %ul
      %li
        .logo
          %a{ :href => "/" }
            %img{ :src => "/img/pink_hat_icon-200.png", :alt => "A photo of Tom" }
      %li
        .nav-char
          %a{ :href => '/!/' }
            ✒

      %li.bar

#main{ :role => 'main' }=yield
