%ul.nobullet
  %a{ :href => "/" }
    %li.link
      %div ~

  -#%li.link-group
    %a.exclamation{ :href => '/!/' } !
    %ul.nobullet
      %a{ :href => "/ergonomics" }
        %li ergonomics
      %a{ :href => "/scarsdale" }
        %li scarsdale
      %a{ :href => "/doodles" }
        %li doodles

  %a{ :href => "/!/" }
    %li.link
      %div !

  %a{ :href => "/!/about/" }
    %li.link
      %div ?
