%ul.nobullet
  %li.link
    %a{ :href => "/" }
      %div ~

  -#%li.link-group
    %a.exclamation{ :href => '/!/' } !
    %ul.nobullet
      %a{ :href => "/ergonomics" }
        %li ergonomics
      %a{ :href => "/scarsdale" }
        %li scarsdale
      %a{ :href => "/doodles" }
        %li doodles

  %li.link
    %a{ :href => "/!/" }
      %div !

  %li.link
    %a{ :href => "/!/about/" }
      %div ?
