    -# JavaScript at the bottom for fast page loading:
    -# http://developer.yahoo.com/performance/rules.html#js_bottom

    -# Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline
    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" }
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery.js"><\/script>')

    -# scripts concatenated and minified
    %script{ :src => 'js/application.js' }
    -# end scripts

    <!-- Piwik --> 
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://piwik.thomaslevine.com/" : "http://piwik.thomaslevine.com/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 2);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://piwik.thomaslevine.com/piwik.php?idsite=2" style="border:0" alt="" /></p></noscript>
    <!-- End Piwik Tracking Code -->

