%nav
  = render '_nav_boxes'

#article-wrapper
  %article
    %header
      %h1=@item[:title]
      %em
        %time{ :datetime => @item[:created_at]}
          =@item[:created_at].strftime('%B %d, %Y') rescue ''
      %span.tags
        - (@item[:tags] || []).each do |tag|
          =link_to(tag, '/' + tag)
    %hr
    ~yield

#pagination
  .base-little-card
    = link_to('View source', 'https://github.com/tlevine/www.thomaslevine.com/tree/master/content' + @item.identifier + 'index.md')
    = @item[:other_source] && link_to('Other source', @item[:other_source])
    = link_to('Discuss', @item[:tweet_link] || 'https://twitter.com/thomaslevine')
