%nav
  = render '_nav_boxes'

%header.title-card
  = render('_title_card', :item => item, :link => false)

#article-wrapper
  %article~yield


#pagination
  .base-little-card
    = link_to('View source', 'https://github.com/tlevine/www.thomaslevine.com/tree/master/content' + @item.identifier + 'index.md')
    = link_to('Discuss', 'https://twitter.com/thomaslevine')
