%nav
  = render '_nav_boxes'

#categories
  %ul.nobullet
    %a{ :href => "/ergonomics" }
      %li.link 
        %div ergonomics
    %a{ :href => "/data" }
      %li.link 
        %div data
    %a{ :href => "/type" }
      %li.link 
        %div type

%header.title-card
  %h1 Section title

#links.clearfix
  = yield

