        %header
          #contact
            .words
              .name
                %a{ :href => "/"}
                  thomas levine
              .e-post#e-post
                %span
                  occurrence at this domain
              .phone
                607 699 1866
              %nav.social
                %ul
                  %a{ :href => "http://facebook.com/perluette"}
                    %li
                      fb
                  %a{ :href => "http://twitter.com/thomaslevine"}
                    %li
                      tw
                  %a{ :href => "http://www.linkedin.com/profile/view?id=13142929"}
                    %li
                      li
                  %a{ :href => "http://stackexchange.com/users/176493"}
                    %li
                      se
                  %a{ :href => "https://plus.google.com/112237825767532686869"}
                    %li
                      g+
                  %a{ :href => "https://joindiaspora.com/u/tlevine"}
                    %li
                      d* 
            .logo
              %a{ :href => "/" }
                %img{ :src => "/img/pink_hat_icon-200.png", :alt => "A photo of Tom" }
 
        #main{ :role => 'main' }= yield
 
        %footer
          .logo
            %a{ :href => "/" }
              %img{ :src => "/img/pink_hat_icon-200.png", :alt => "A photo of Tom" }

        =render :partial => "_script"
