%nav
  = render '_nav_boxes'

%header.title-card
  ~yield

#links.clearfix
  - items = sort_articles(published_articles(items_with_tag(@item[:tag])))
  - items.each do |item|
    .link
      = render('_blog_post_card', :item => item)
