---
main_class: blog
---
%header.title-card
  = render('_title_card', :item => item)

%article
  = sorted_articles[0].compiled_content

- sorted_articles.each do |item|
  .link
    = render('_blog_post_card', :item => item)
