#nav-top
  = render '_nav_boxes'

%header#blog-title.big-card
  %h1 Section title

#main{ :role => 'main' }
  -# Blog posts
  #topics.clearfix
    - sorted_articles.each do |item|
      .topic
        = render('_blog_post_card', :item => item)

#nav-bottom
  = render '_nav_boxes'
