#nav
  = render '_nav_boxes'

#categories
  1
  2
  3

%header.title-card
  %h1 Section title

#links.clearfix
  - sorted_articles.each do |item|
    .link
      = render('_blog_post_card', :item => item)
