article table {
    border-collapse: collapse;
}

article form.calculator {
    height: 10em;
    position: relative;
}

article form.calculator-basic label,
article form.calculator-basic .scale,
article form.calculator-basic input,
article form.calculator-basic a {
    display: block;
    width: 100%;
}
article form.calculator-basic label {
    font-weight: bold;
    text-align: center;
}
article form.calculator-basic input {
    height: 45%;
}
article form.calculator-basic a {
    text-align: right;
}
article form.calculator-basic .scale {
    font-weight: bold;
    height: 20%;
}
article form.calculator-basic .scale .min {
    float: left;
    text-align: left;
}
article form.calculator-basic .scale .current {
    position: absolute;
    bottom: 35%;
}
article form.calculator-basic .scale .max {
    float: right;
    text-align: right;
}


article form.calculator-advanced .form-field {
    height: 2em;
    float: right;
    width: 100%;
    display: block;
}
article form.calculator-advanced .form-field label,
article form.calculator-advanced .form-field a,
article form.calculator-advanced .form-field input {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0;
}
article form.calculator-advanced .form-field label,
article form.calculator-advanced .form-field a {
    width: 87%;
    text-align: right;
}
article form.calculator-advanced .form-field input {
    border-width: 2px;
    width: 8%;
}

/* Widths */
#app {
    width: 800px;
}
article table {
    width: 100%;
}
article table.levy th, article table.levy td {
    width: 14.28571%;
}

/* Match the styling of the paper. This includes
   - Text alignment
   - Line breaks
   - Borders
   - Colors
*/

/* Borders */
article table.levy, article table.levy tbody {
    border: 1px solid black;
}
article table.levy thead th, article table.levy thead td ,
article table.levy tbody th, article table.levy tbody td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/* Color */
article table.levy thead th {
    background-color: #DDD;
}
#app * {
    color: black;
    font-family: aoeu, Arial, sans-serif;
}

/* Text alignment */
article table.levy thead th {
    text-align: center;
}
article table.levy tbody .total-tax-levy, article table.levy tbody .percent-change,
article table.levy tbody .assessed-total-value, article table.levy tbody .assessed-taxable-value, 
article table.levy tbody .tax-rate,  article table.levy tbody .tax-amount, tfoot .tax-amount {
    text-align: right;
}

/* Additional information article table */
article table.additional-information {
    margin-top: 2em;
    text-transform: uppercase;
    line-height: 2em;
}
article table.additional-information thead {
    text-align: left;
    font-weight: bold;
}
article table.additional-information tbody {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
article table.additional-information td.number {
    text-align: right;
}
