// Mixins and extends
@mixin lean
  margin: 0
  padding: 0

.box
  background: white
  margin:
    top: $square
    bottom: $square
    left: auto
    right: auto
  padding: $square
  text-align: center

// General stuff
p, h1, h2, h3, h4, h5
  font: inherit
  @include lean

body
  background: #444
  color: $pink
  font: 0.5 * $square
    family: 'Open Sans', sans-serif
    size: 62.5%
  line-height: 0.5 * $square
  width: 100%
  height: 100%

h1, h2, h3, h4, h5
  font-weight: bold

nav ul, nav ol, ul.nobullet, ol.nobullet
  @include lean
  list-style-type: none

nav li
  @extend .box
  float: left
  width: 1 * $square
  height: 1 * $square
  padding: 0.5 * $square
  margin: 0.5 * $square

//nav li.bar
//  width: 8 * $square
//  margin-right: auto

header, footer, #main
  @include lean
  width: 100%

.nav-boxes
  width: 9 * $square
  margin:
    left: auto
    right: auto
  height: 2.5 * $square

a
  color: inherit
  text-decoration: inherit
  &:visited
    color: inherit
  &:hover
    color: #000
    text-decoration: inherit
  &:focus
    outline: thin dotted

.logo, .logo *
  width: 100%

// The calling card
#contact
  @extend .box
  width: 6 * $square

  // Standard business card size
  height: 12 * $square

  // Golden ratio
  // height: 12 * $square

  .social
    width: 6em
    margin:
      left: auto
      right: auto
    li
      display: inline-block
      width: 1.65em
      height: 1.65em
      margin: 0.25em
      padding: 0.25em
      vertical-align: baseline
      text-align: center
      background: $pink
      color: white
      &:hover
        background: #444
        color: $pink

  .logo
    margin-top: 1 * $square

// The small boxes
.topic
  @extend .box
  width: 3 * $square
  height: 3 * $square

// Navigation icons
.nav-char
  font-size: 450%
  text-align: center
  line-height: 50%

// A blog post
article
  @extend .box
  width: 100%
  max-width: 25 * $square
  margin:
    left: auto
    right: auto
  text-align: left

article img, article iframe
  width: 100%
  margin:
    top: 1.5em
    bottom: 1.5em
    left: auto
    right: auto
  border: none
