// Parameters
$calling-card-long: 12 * $square
$calling-card-short: 6 * $square
$topic-card-width: 4

// Mixins and extends
@mixin lean
  margin: 0
  padding: 0

// General stuff
p, h1, h2, h3, h4, h5
  font: inherit
  @include lean

body
  background: #444
  color: $pink
  font: 0.5 * $square
    family: 'Open Sans', sans-serif
    size: 62.5%
  line-height: 0.5 * $square
  width: 100%
  height: 100%
  text-align: inherit

h1, h2, h3, h4, h5
  font-weight: bold

nav ul, nav ol, ul.nobullet, ol.nobullet
  @include lean
  list-style-type: none

header, footer, #main
  @include lean
  width: 100%

span.home-char
  display: none

$nav-card-gap: 0.65
$nav-width: $topic-card-width + $nav-card-gap
$nav-card-width: ($topic-card-width - $nav-card-gap) / 2

nav
  display: block
  width: $nav-width * $square
  margin:
    left: auto
    right: auto
  height: ( $nav-card-width + 0.5 ) * $square

  // Navigation icons
  li.nav-char
    @extend .box
    float: left
    width: $nav-card-width * $square
    height: $nav-card-width * $square
    padding: 0
    margin: $nav-card-gap/2 * $square

    font-size: 350%
    line-height: 135%
    text-align: center

a
  color: inherit
  text-decoration: inherit
  &:visited
    color: inherit
  &:hover
    color: #000
    text-decoration: inherit
  &:focus
    color: inherit
    outline: thin dotted

.logo, .logo *
  width: 100%




// Base classes =========================================== //
.base-card
  background: white
  margin:
    top: 0.5 * $square
    bottom: 0.5 * $square
    left: auto
    right: auto
  padding: 0.5 * $square

.base-big-card

.base-little-card

// Big-cards ============================================== //

// The calling card
.business-card
  @extend .box
  padding: $square

  // Standard business card size
  width: $calling-card-short
  height: $calling-card-long

  // Golden ratio
  // height: 12 * $square

  .social
    width: 6em
    margin:
      left: auto
      right: auto
    li
      display: inline-block
      width: 1.65em
      height: 1.65em
      margin: 0.25em
      padding: 0.25em
      vertical-align: baseline
      text-align: center
      background: $pink
      color: white
      &:hover
        background: #444
        color: $pink

  .logo
    margin-top: 1 * $square

.title-card


// Little-cards =========================================== //


// One big link
.link

// Several small links
.link-group
  @extend .box
  width: ($topic-card-width - 1) * $square
  height: ($topic-card-width - 1) * $square
  ul
    @extend ul.nobullet

// Section containing a bunch of little-boxes
#links

// A blog post
article
  @extend .box
  width: 90%
  max-width: 28 * $square
  margin:
    left: auto
    right: auto
  text-align: left

  pre
    background-color: lighten($pink, 30%)
    color: #333
    font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace
    border: 1px solid desaturate(lighten($pink, 20%), 30%)
    margin:
      top: 0.5em
      bottom: 0.5em
    padding: 0.5em

  p
    margin-bottom: 0.75em
    color: #333

  a, a:visited
    text-decoration: underline
    color: $pink

  img, iframe
    width: 100%
    margin:
      top: 1.5em
      bottom: 1.5em
      left: auto
      right: auto
    border: none

#links
  text-align: center

#pagination


@media screen and (min-width: 640px)
  #contact, #topics 
    text-align: left

  #contact
    width: $calling-card-long
    height: $calling-card-short

    .words
      width: 40%
      float: left

    .logo
      width: 5 * $square
      float: right

    .social
      float: left
      margin-left: -0.25em
      ul
        width: 12em

  #topics
    width: 15 * $square
    margin:
      left: auto
      right: auto
  
  .topic
    float: left
    margin:
      left: 0.5 * $square
      right: 0.5 * $square

