// Side of a square
$square: 28px;

// The main color
$pink: #fe57a1;

// Scarsdale section
$maroon: #800000

// Ergonomics section
$tan: #D2B48C

// Data section
$green: #0F0

// Doodles section
$gray: #999
